.page-book {
	padding: 50px 0;

	.ticket {
		h2 {
			font-size: 1.4em;
			margin: 15px 0 0 0;
			font-weight: bold;
		}

		.badge {
			font-size: 1.2em;
			padding: 12px;
			background: $brand-primary;
			margin: 10px 5px 0 0;
			font-weight: 300;
			// text-transform: uppercase;
			// letter-spacing: 1px;

			&.badge-dark {background: #222;}
		}

		h3 {
			margin: 20px 0 0 0;
			font-size: 1.2em;
		}

		p {
			margin: 15px 0 0 0;
			color: #aaa;
			font-size: 1.1em;
			line-height: 1.8em;
		}
	}

	.purchase {
		background: $brand-primary;

		.top, .bottom {
			padding: 30px;
		}

		.top {
			h2 {
				font-size: 1.6em;
				font-weight: bold;
				color: #fff;
				text-align: center;
			}

			h3 {
				font-size: 1.2em;
				margin: 20px 0 0 0;
				font-weight: bold;
				color: #fff;

				span {font-weight: normal;}
			}

			p {
				font-size: 1.1em;
				line-height: 1.4em;
				color: rgba(255, 255, 255, .7);
				margin: 10px 0 0 0;
				text-align: center;
			}

			.form {
				display: block;
				margin: 40px 0 0 0;

				.form-group {
					display: block;
					margin: 0 0 20px 0;

					label {
						display: block;
						margin: 0 0 10px 0;
						font-size: 0.8em;
						text-transform: uppercase;
						letter-spacing: 1px;
						color: #fff;
						font-weight: 300;
					}

					.form-control {
						@include placeholder(rgba(255, 255, 255, .7));
						height: auto;
						padding: 12px;
						background: none;
						border: 1px solid rgba(255, 255, 255, .4);
						color: #fff;
						border-radius: 10px;
						box-shadow: none;
						outline: none;
					}

					.dropdown {
						display: block;
						width: 100%;

						.btn {
							display: block;
							width: 100%;
							padding: 0 15px;
							height: 46px;
							line-height: 46px;
							text-align: left;
							outline: none;
							box-shadow: none;

							span {
								float: right;
								display: inline-block;
								height: 46px;
								line-height: 46px;
							}
						}

						ul {
							width: 100%;
							margin: 0;
							padding: 0;

							li {
								display: block;
								padding: 0;
								margin: 0;

								a {
									display: block;
									padding: 15px;
									border-bottom: 1px solid #ddd;
								}

								&:last-of-type a {border-bottom: none;}
							}
						}
					}

					.stripe-element {
						background: $brand-primary;
						height: auto;
						padding: 12px;
						border: 1px solid rgba(255, 255, 255, .4);
						outline: none;
						font-size: 1.2em;
						border-radius: 10px;
					}

					p {text-align: left; font-size: 1em; color: #fff; margin: 15px 0 0 0;}
					p.error {display: none;}
					&:last-of-type {margin-bottom: 0;}
				}
			}
		}

		.bottom {
			background: darken($brand-primary, 10%);

			h3 {
				font-size: 1.3em;
				margin: 15px 0 0 0;
				color: rgba(255, 255, 255, .7);

				span {color: #fff;}
				&:first-of-type {margin-top: 0;}
			}

			.btn {
				display: block;
				width: 100%;
				margin: 20px 0 0 0;
				border: none;
				font-size: 1.4em;
				font-weight: bold;
				text-transform: uppercase;
				box-shadow: none;
				outline: none;
				padding: 20px 30px;
			}
		}
	}
}