.page-contact {
	.contact {
		padding: 50px 0;

		.contact-info {
			margin: 30px 0 0 0;

			span {
				font-size: 4em;
				color: $brand-primary;
			}

			p {
				font-size: 1.2em;
				color: $brand-primary;
				margin: 15px 0 0 0;
			}
		}

		form {
			margin: 0;

			h2 {
				font-size: 1.4em;
				font-weight: bold;
				margin-bottom: 15px;
			}

			.form-group {
				.form-control {
					padding: 12px;
					height: auto;
					border: none;
					border-bottom: 1px dashed #ddd;
					box-shadow: none;
					outline: none;
					border-radius: 0;
					font-size: 1.2em;
				}
			}

			input[type="submit"] {
				display: block;
				width: 100%;
				margin: 30px 0 0 0;
				font-size: 1.2em;
				padding: 20px 15px;
				font-weight: bold;
				border: none;
				text-transform: uppercase;
			}

			p {
				margin: 10px 0 0 0;
				text-align: center;
				color: #aaa;
				text-transform: uppercase;
				font-size: 1.2em;
			}
		}

		.help {
			padding: 30px;
			background: #111;

			h2 {
				font-size: 1.4em;
				color: #fff;
			}

			p {
				font-size: 1.2em;
				color: rgba(255, 255, 255, .6);
				margin: 10px 0 0 0;
				line-height: 1.8em;
			}
		}

		.socials {
			display: block;
			text-align: center;
			margin: 60px 0 0 10px;

			li {
				display: inline-block;
				margin: 0 30px;

				a {
					display: block;
					color: #aaa;
					font-size: 4.4em;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 1px;

					&.active {font-weight: bold;}
					&.active, &:hover {color: $brand-primary;}
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.contact {
			form {
				margin-bottom: 20px;
			}

			.contact-info {
				span, p {
					display: block;
					text-align: center !important;
				}

				> div {
					&:first-of-type {margin-bottom: 30px;}
				}
			}

			.socials {
				margin: 30px 0 0 0;
			}
		}
	}
}