.page-faqs {
	.faqs {
		padding: 30px 0;

		h2 {
			font-size: 1.4em;
			font-weight: bold;
			margin: 30px 0 0 0;

			&:first-of-type {margin-top: 0;}
		}

		p {
			font-size: 1.1em;
			margin: 10px 0 0 0;
			color: #aaa;
			line-height: 1.8em;
		}

		.terms, .code {
			padding: 30px;
			background: #111;

			h2 {color: #fff;}
			p {color: rgba(255, 255, 255, .6);}
		}

		.code {background: $brand-primary;}
	}
}