.page-gallery {
	background: #111;
	
	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		display: inline-block;
	}

	.grid-wrapper > a {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.grid-wrapper > a > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
	}

	.grid-wrapper {
		display: grid;
		grid-gap: 10px;
		padding: 10px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: 200px;
		grid-auto-flow: dense;
	}

	.grid-wrapper .wide {
		grid-column: span 2;
	}

	.grid-wrapper .tall {
		grid-row: span 2;
	}

	.grid-wrapper .big {
		grid-column: span 2;
		grid-row: span 2;
	}

	@media screen and (max-width: 600px) {
		.grid-wrapper {
			grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		}
	}
}