.page-home {
	.about {
		@include darken-image('https://images.unsplash.com/photo-1545128485-c400e7702796?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', .6, .6);
		padding: 150px 0;
		background-size: cover;
		background-attachment: fixed;

		h2 {
			text-transform: uppercase;
			font-weight: 900;
			font-size: 5em;
			margin: 10px 0 0 0;
			color: #fff;

			span {
				display: inline-block;
				padding: 5px 7px;
				background: $brand-primary;
				color: #fff;
			}

			em {
				font-style: normal;
				color: $brand-primary;
			}
		}

		p {
			font-size: 1.2em;
			line-height: 1.6em;
			font-weight: 300;
			margin: 20px 0 0 0;
			color: #aaa;
		}

		.btn {
			display: inline-block;
			border: none;
			outline: none;
			box-shadow: none;
			padding: 25px 30px;
			font-size: 1.2em;
			font-weight: bold;
			text-transform: uppercase;
			margin: 30px 0 0 0;
			display: block;
			width: 100%;
			font-size: 1.6em;
		}
	}

	.venues {
		display: block;
		background: #000;

		.owl-nav, .owl-dots {display: none !important;}
	}

	.features {
		padding: 80px 0 40px 0;
		background: #fff;

		.feature {
			display: block;
			margin-bottom: 40px;

			.icon {
				$size: 150px;
				margin: 0 auto;
				display: block;
				width: $size;
				height: $size;
				background: $brand-primary;
				border-radius: 100%;

				span {
					display: block;
					text-align: center;
					height: $size;
					line-height: $size;
					color: #fff;
					font-size: 5em;
					color: darken($brand-primary, 20%); color: #fff;
				}
			}

			h2 {
				display: block;
				font-size: 1.4em;
				color: #111;
				font-weight: bold;
				text-transform: uppercase;
				margin: 25px 0 0 0;
				text-align: center;

				span {
					color: $brand-primary;
					font-size: 1em;
				}
			}

			p {
				font-size: 1em;
				font-weight: 300;
				color: #aaa;
				margin: 15px 0 0 0;
				line-height: 1.8em;
				text-align: center;
			}
		}
	}

	.testimonials {
		@include darken-image('https://images.unsplash.com/photo-1603190287605-e6ade32fa852?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', .8, .8);
		padding: 150px 0;
		background-size: cover;
		background-attachment: fixed;
		text-align: center;

		.container {position: relative;}

		.inner {
			display: block;
			max-width: 600px;
			margin: 0 auto 0 auto;

			.item {
				display: block;
				max-width: 600px;
			}
		}

		span {
			@include align-center-vertical;
			left: 0;
			font-size: 7em;
			color: rgba(255, 255, 255, .4);

			&.right {
				left: auto;
				right: 0;
			}

			&:hover {
				cursor: pointer;
				color: $brand-primary;
			}
		}

		h2 {
			display: block;
			font-size: 4em;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			padding: 20px;
			border: 7px solid #fff;
		}

		h3, h4 {
			font-size: 1.6em;
			color: #fff;
			text-align: left;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 10px;
		}

		h4 {
			margin: 10px 0 0 0;
			text-align: right;
		}

		p {
			display: block;
			margin: 30px 0 0 0;
			font-size: 1.4em;
			color: rgba(255, 255, 255, .7);
			line-height: 1.8em;
		}

		.owl-dots {
			display: block;
			margin: 40px 0 0 0;
			text-align: center;

			button {
				display: inline-block;
				margin: 0 15px;
				width: 12px;
				height: 12px;
				background: rgba(255, 255, 255, .4);
				border-radius: 100%;

				&.active {background: $brand-primary;}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.about {
			padding: 30px 0;
			background-attachment: scroll;

			h2 {font-size: 3em;}

			.btn {
				font-size: 1.2em;
				padding: 20px;
			}

			.row .row > div:last-of-type .btn {margin-top: 10px;}
		}

		.features {
			padding: 30px 0;
		}

		.testimonials {
			padding: 30px 0;
			background-attachment: scroll;

			h2 {font-size: 2em;}
			p {font-size: 1.2em;}
			.far {display: none;}
		}
	}
}