body {
    font-family: 'Montserrat' !important;
    font-size: 10px;
    line-height: 0.9em;
    width: 100%;
    overflow-x: hidden;

    // Global overrides.
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .row {
        &.row-condensed {
            margin-left: 0;
            margin-right: 0;

            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.row-xs {
            margin-left: -5px;
            margin-right: -5px;

            > div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        &.row-sm {
            margin-left: -10px;
            margin-right: -10px;

            > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        &.row-lg {
            margin-left: -20px;
            margin-right: -20px;

            > div {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &.row-xl {
            margin-left: -30px;
            margin-right: -30px;

            > div {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        &.row-flex {
            display: flex;
            flex-wrap: wrap;

            > [class*='col-'] {
                display: flex;
                flex-direction: column;
            }
        }
    }

    a {
        text-decoration: none;

        &:focus, &:hover, &:active, &:visited {
            text-decoration: none !important;
        }
    }

    * {
        -webkit-appearance: none;
        outline: none;
    }

    // *:not(input):not(textarea) {
    //     -webkit-touch-callout: none;
    //     -webkit-user-select: none
    // }

    h1, h2, h3, h4, h5, h6, p, ul {
        @include reset-bounds;
        font-size: 10px;
        line-height: 0.9em;
    }
}

html, body {
    width: 100%;
    overflow-x: hidden;
}