.book-banner {
	@include darken-image('https://images.unsplash.com/photo-1545128485-c400e7702796?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80', .6, .6);
	padding: 50px 0;
	background-size: cover;
	background-attachment: fixed;

	h2 {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 4em;
		margin: 10px 0 0 0;
		color: #fff;

		span {
			display: inline-block;
			padding: 5px 7px;
			background: $brand-primary;
			color: #fff;
		}

		em {
			font-style: normal;
			color: $brand-primary;
		}
	}

	.btn {
		display: inline-block;
		border: none;
		outline: none;
		box-shadow: none;
		padding: 25px 30px;
		font-size: 1.2em;
		font-weight: bold;
		text-transform: uppercase;
		margin: 30px 0 0 0;
		display: block;
		width: 100%;
		font-size: 1.6em;
	}
}