footer {
	padding: 30px 0;
	background: #090909;

	ul {
		display: block;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 30px;

			a {
				display: block;
				color: rgba(255, 255, 255, .6);
				height: 118px;
				line-height: 118px;
				font-size: 1.5em;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 1px;

				&.active {font-weight: bold;}
				&.active, &:hover {color: $brand-primary;}
			}
		}

		&.socials {
			li {
				margin: 0 8px;

				a {
					font-size: 2.4em;
				}
			}
		}
	}

	.btn {
		display: block;
		margin: 35px 0 0 0;
		border: none;
		outline: none;
		box-shadow: none;
		padding: 17px;
		font-size: 1.1em;
		font-weight: bold;
		text-transform: uppercase;
	}

	&.post {
		background: #000;
		padding: 25px 0;

		p {
			font-size: 1.1em;
			color: rgba(255, 255, 255, .7);

			a {color: #fff;}
		}
	}

	@media screen and (max-width: 600px) {
		img {
			max-width: 200px !important;
			margin: 0 auto;
		}

		ul {
			display: none;
			margin: 30px 0 0 0;

			&.socials {
				display: block;

				li {
					margin: 0 20px;

					a {
						height: auto;
						line-height: 1.2em;
					}
				}
			}
		}

		&.post {
			p {
				text-align: center;
				
				span {display: none;}
			}
		}
	}
}