header.main {
	padding: 15px 0;
	background: #fff;
	position: relative;

	.logo {
		height: 90px;
	}

	ul {
		display: block;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 30px;

			a {
				display: block;
				color: rgba(255, 255, 255, .6);
				height: 90px;
				line-height: 90px;
				font-size: 1.5em;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #222;

				&.active {font-weight: bold;}
				&.active, &:hover {color: $brand-primary;}
			}
		}
	}

	.btn {
		display: block;
		margin: 17px 0 0 0;
		border: none;
		outline: none;
		box-shadow: none;
		padding: 17px;
		font-size: 1.1em;
		font-weight: bold;
		text-transform: uppercase;

		&:hover {opacity: 1;}
	}

	.open-menu {
		display: none;
		position: absolute;
		top: 45px;
		right: 30px;
		color: #111;
		font-size: 2em;
	}

	@media screen and (max-width: 500px) {
		.open-menu {
			display: block;
		}
	}
}