.hero {
	@include darken-image('https://images.unsplash.com/photo-1575444758702-4a6b9222336e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', .8, .4);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;

	header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 30px 0;
		z-index: 99;

		ul {
			display: block;
			text-align: center;

			li {
				display: inline-block;
				margin: 0 30px;

				a {
					display: block;
					color: rgba(255, 255, 255, .6);
					height: 131px;
					line-height: 131px;
					font-size: 1.5em;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 1px;

					&.active {font-weight: bold;}
					&.active, &:hover {color: $brand-primary;}
				}
			}
		}

		.btn {
			display: block;
			margin: 35px 0 0 0;
			border: none;
			outline: none;
			box-shadow: none;
			padding: 17px;
			font-size: 1.1em;
			font-weight: bold;
			text-transform: uppercase;
			// opacity: 0.8;

			&:hover {opacity: 1;}
		}
	}

	.gohard-gohome {
		@include align-center;
		max-width: 600px;
		width: 100%;
		margin-top: 30px;
	}
}

.hero-mobile {
	@include darken-image('https://images.unsplash.com/photo-1575444758702-4a6b9222336e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', .8, .4);
	display: none;
	width: 100%;
	padding: 0 0 40px 0;
	background-size: cover;

	.top {
		margin: 20px 0 0 0;
		position: relative;

		.open-menu {
			@include align-center-vertical;
			position: absolute;
			right: 0;
			color: #fff;
			font-size: 2em;
		}
	}

	.gohard-gohome {
		max-width: 300px;
		margin: 30px auto 0 auto;
	}

	.btn {
		display: block;
		margin: 35px 0 0 0;
		border: none;
		outline: none;
		box-shadow: none;
		padding: 17px;
		font-size: 1.1em;
		font-weight: bold;
		text-transform: uppercase;
		// opacity: 0.8;

		&:hover {opacity: 1;}
	}
}

@media screen and (max-width: 600px) {
	.hero {display: none;}
	.hero-mobile {display: block;}
}