.mobile-menu {
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background: #111;
	z-index: 9999;
	overflow-y: scroll;

	header {
		height: 60px;
		background: #222;
		padding: 0 30px;

		h1 {
			font-size: 1.4em;
			font-weight: 300;
			color: #fff;
			height: 60px;
			line-height: 60px;
			font-weight: 300;
			letter-spacing: 1px;

			a {
				display: inline-block;
				margin-left: 30px;
				height: 60px;
				line-height: 60px;
				color: #777;
				font-size: 0.8em;
				position: relative;

				.icon {
					display: block;
					height: 60px;
					line-height: 60px;
					padding-right: 5px;
				}

				&:last-of-type {margin-left: 0;}
			}
		}
	}

	ul {
		display: block;
		list-style: none;
		padding: 0;

		li {
			a {
				display: block;
				font-size: 1.8em;
				color: #fff;
				padding: 25px 30px;

				span {color: #666;}

				&.active {
					color: $brand-primary;

					span {color: $brand-primary;}
				}
			}

			&:last-of-type {margin-bottom: 0;}
		}

		&.socials {
			text-align: center;
			position: absolute;
			left: 0;
			bottom: 105px;
			width: 100%;

			li {
				display: inline-block;
				margin: 0 25px;

				a {
					padding: 0;
					font-size: 2.4em;
				}
			}
		}
	}

	.actions {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 30px;
		width: 100%;

		.btn {
			display: block;
			padding: 15px;
			border: none;
			text-transform: uppercase;
			font-size: 1.2em;
			box-shadow: none;
			outline: none;
			letter-spacing: 1px;
		}
	}
}