.swal2-container {
    padding: 30px !important;

    .swal2-popup {
        font-size: 1.2em;
        padding: 30px 0;

        #swal2-content {
            font-size: 1em;
            color: #aaa;
        }

        .swal2-title {
            font-size: 1.4em;
        }

        .swal2-confirm {
            background: $brand-primary;
            background-color: $brand-primary;
            border: none !important;
            outline: none !important;
            -webkit-outline: none !important;
            font-size: 1em !important;
        }

        .swal2-html-container {color: #aaa;}
    }
}

html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow-y: visible !important;
}

.swal2-shown {
    height: 100%;
}