<template>
	<div class="purchase">
		<form style="margin: 0; padding: 0;" @submit.prevent="purchaseTicket" v-if="!order">
			<div class="top">
				<h2>Purchase your Ticket</h2>
				<p>Each ticket grants <strong>one person</strong> entry to the crawl</p>

				<div class="form">
					<div class="form-group">
						<label>Ticket</label>
						<div class="dropdown">
						  	<button type="button" data-toggle="dropdown" class="btn btn-default">{{ getTicketName() }} <span class="fa fa-chevron-down"></span></button>
						  	<ul class="dropdown-menu" aria-labelledby="dLabel">
						    	<li><a href="#" @click.prevent="setTicket('basic')">Geordie Crawl (&pound;25.00 per person)</a></li>
						    	<li><a href="#" @click.prevent="setTicket('private')">Private Crawl (&pound;30.00 per person)</a></li>
						  	</ul>
						</div>
					</div>
					<div class="form-group">
						<label>Quantity</label>
						<input type="number" class="form-control" v-model="model.quantity" />
						<p v-if="model.ticket == 'private'">Minimum of 10 people on private crawls</p>
					</div>
					<div class="form-group">
						<label>Full Name</label>
						<input type="text" class="form-control" placeholder="Full Name" v-model="model.name" id="name" />
						<p class="error">Name must be filled in</p>
					</div>
					<div class="form-group">
						<label>Email Address</label>
						<input type="text" class="form-control" placeholder="Email Address" v-model="model.email" id="email" />
						<p class="error">Email address must be filled in</p>
					</div>
					<div class="form-group">
						<label>Phone Number</label>
						<input type="text" class="form-control" placeholder="Phone Number" v-model="model.phone" id="phone" />
						<p class="error">Phone number must be filled in</p>
					</div>
					<div class="form-group">
						<label>Occassion</label>
						<div class="dropdown">
						  	<button type="button" data-toggle="dropdown" class="btn btn-default">{{ model.occassion }} <span class="fa fa-chevron-down"></span></button>
						  	<ul class="dropdown-menu" aria-labelledby="dLabel">
						    	<li><a href="#" @click.prevent="setOccassion('Birthday Party')">Birthday Party</a></li>
						    	<li><a href="#" @click.prevent="setOccassion('Stag Party')">Stag Party</a></li>
						    	<li><a href="#" @click.prevent="setOccassion('Hen Party')">Hen Party</a></li>
						    	<li><a href="#" @click.prevent="setOccassion('Corporate')">Corporate</a></li>
						    	<li><a href="#" @click.prevent="setOccassion('Christmas Party')">Christmas Party</a></li>
						    	<li><a href="#" @click.prevent="setOccassion('Weekend Away')">Weekend Away</a></li>
						  	</ul>
						</div>
					</div>
					<div class="form-group">
						<label>Where did you hear about us?</label>
						<div class="dropdown">
						  	<button type="button" data-toggle="dropdown" class="btn btn-default">{{ model.referral }} <span class="fa fa-chevron-down"></span></button>
						  	<ul class="dropdown-menu" aria-labelledby="dLabel">
						    	<li><a href="#" @click.prevent="setReferral('Instagram')">Instagram</a></li>
						    	<li><a href="#" @click.prevent="setReferral('Facebook')">Facebook</a></li>
						    	<li><a href="#" @click.prevent="setReferral('Word of Mouth')">Word of Mouth</a></li>
						    	<li><a href="#" @click.prevent="setReferral('Google')">Google</a></li>
						    	<li><a href="#" @click.prevent="setReferral('Other')">Other</a></li>
						  	</ul>
						</div>
					</div>
					<div class="form-group">
						<label>Date</label>
						<input type="text" class="form-control" placeholder="Date" v-model="model.date" id="date" />
						<p class="error">Date must be filled in</p>
					</div>
					<div class="form-group">
						<label>Coupon Code</label>
						<input type="text" class="form-control" placeholder="Coupon Code" v-model="coupon" />
					</div>
					<div class="form-group">
						<label>Card Number</label>
						<div class="stripe-element">
							<div id="card-element"></div>
						</div>
					</div>
					<div class="row row-sm">
						<div class="col-xs-6">
							<div class="form-group">
								<label>Card Expiry</label>
								<div class="stripe-element">
									<div id="card-expiry"></div>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label>Card CVC</label>
								<div class="stripe-element">
									<div id="card-cvc"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<h3>{{ model.quantity }} x {{ getTicketNameShort() }} <span class="pull-right">&pound;{{ getTicketPrice() }}</span></h3>
				<h3>Booking Fee <span class="pull-right">&pound;{{ getBookingPrice() }}</span></h3>
				<h3>Total <span class="pull-right">&pound;{{ getTotalPrice() }}</span></h3>
				<input type="submit" class="btn btn-default" value="Make Purchase" v-if="!loading" />
				<a href="#" class="btn btn-default" v-else @click.prevent>Loading...</a>
			</div>
		</form>

		<div v-else>
			<div class="top">
				<h2>Thank you!</h2>
				<p>Your order was successful, you will be sent a confirmation to your email</p>

				<h3>Ticket: <span class="pull-right">{{ (order.ticket) ? 'Group' : 'Private' }}</span></h3>
				<h3>Quantity: <span class="pull-right">{{ order.quantity }}</span></h3>
				<h3>Name: <span class="pull-right">{{ order.name }}</span></h3>
				<h3>Email: <span class="pull-right">{{ order.email }}</span></h3>
				<h3>Phone: <span class="pull-right">{{ order.phone }}</span></h3>
				<h3>Occassion: <span class="pull-right">{{ order.occassion }}</span></h3>
				<h3>Date: <span class="pull-right">{{ order.date }}</span></h3>
				<h3>Price: <span class="pull-right">&pound;{{ order.price.toFixed(2) }}</span></h3>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				order: null,
				stripe: null,
				elements: null,
				card_number: null,
				card_expiry: null,
				card_cvc: null,

				loading: false,

				coupon: null,
				model: {
					ticket: 'basic',
					quantity: 1,
					name: null,
					email: null,
					phone: null,
					occassion: 'Birthday Party',
					date: null,
					referral: 'Google',
				}
			}
		},

		mounted()
		{
			this.initStripe();

			$('#date').flatpickr({
				minDate: 'today',
				"disable": [
			        function(date) {
			            return (date.getDay() !== 5 && date.getDay() !== 6);
			        }
			    ],
			});

			$('[data-toggle="dropdown"]').dropdown();
		},

		methods: {
			initStripe()
			{
				this.stripe = Stripe('pk_live_GRI4xQk0daryEzpWNow3YuEx');
				this.elements = this.stripe.elements();

				var style = {
				  	base: {
				  		backgroundColor: '#dd0000',
				    	color: '#fff',
				    	fontSmoothing: 'antialiased',
				    	fontFamily: '"Montserrat", Helvetica, sans-serif',
				    	fontSize: '16px',
				    	'::placeholder': {
				      		color: 'rgba(255, 255, 255, .7)'
				    	}
				  	},
				  	invalid: {
				    	color: '#fa755a',
				    	iconColor: '#fa755a'
				  	}
				};

				this.card_number = this.elements.create('cardNumber', {style: style});
				this.card_number.mount('#card-element');

				this.card_expiry = this.elements.create('cardExpiry', {style: style});
				this.card_expiry.mount('#card-expiry');

				this.card_cvc = this.elements.create('cardCvc', {style: style});
				this.card_cvc.mount('#card-cvc');
			},

			getBookingPrice()
			{
				var price = this.getTicketPrice();
				return ((price * 0.014) + 0.2).toFixed(2);
			},

			getTotalPrice()
			{
				return (parseFloat(this.getTicketPrice()) + parseFloat(this.getBookingPrice())).toFixed(2);
			},

			purchaseTicket()
			{
				this.loading = true;

				if(this.model.ticket == 'private' && this.model.quantity < 10) return Swal.fire('Minimum Order', "There's a minimum order of 10 tickets on a private crawl", 'error');

				var _context = this,
					errors = 0;

				_.each(this.model, function(value, key) {
					if(value == '' || value == null) {
						errors++;
					}
				});

				if(errors > 0) {
					this.loading = false;
					return Swal.fire("Invalid Input", "Please make sure you fill out all the required fields and try again", 'error');
				}

				this.model.coupon = this.coupon;

				axios.post(`/api/checkout/intent`, this.model)
					.then(response => {
						_context.stripe.confirmCardPayment(response.data.client_secret, {
							payment_method: {
						      	card: this.card_number,
						    }
						}).then(result => {
							_context.handleStripeResult(result);
						});
					}).catch(error => {
						if(error && error.response && error.response.status == 404) {
							this.loading = false;
							this.coupon = null;
							return Swal.fire('Invalid Coupon', "The coupon code you entered is invalid or has expired", 'error');
						}
					});
			},

			setOccassion(occassion)
			{
				this.model.occassion = occassion;
			},

			getTicketNameShort()
			{
				return (this.model.ticket == 'basic') ? "Geordie Crawl" : "Private Crawl";
			},

			getTicketPrice()
			{
				var ticket_price = (this.model.ticket == 'basic') ? 25 : 30;
				return (this.model.quantity * ticket_price).toFixed(2);
			},

			setTicket(ticket)
			{
				this.model.ticket = ticket;

				if(ticket == 'private' && this.model.quantity < 10) this.model.quantity = 10;
			},

			getTicketName()
			{
				return (this.model.ticket == 'basic') ? "Geordie Crawl (£25.00 per person)" : "Private Crawl (£30.00 per person)";
			},

			handleStripeResult(result)
			{
				// An error occured.
				if(result.error && result.error.type) {
					console.log(result.error);
					this.loading = false;
					return Swal.fire("Payment Error", 'An error occured taking your payment, please update your details and try again', 'error');
				}

				this.model.payment_id = result.paymentIntent.id;

				axios.post(`/api/checkout/payment`, this.model)
					.then(response => {
						this.order = response.data;
						this.loading = false;

						axios.post(`https://sendemailapi.letushost.co.uk/api/geordiecrawl/ticket`, response.data)
							.then(response => {
								console.log(response);
							}).catch(error => {
								console.log(error);
							});
					}).catch(error => {
						this.loading = false;
						console.log(error);
					});
			},

			setReferral(referral)
			{
				this.model.referral = referral;
			}
		},
	}
</script>