<template>
	<form @submit.prevent="sendEnquiry">
		<h2>Write to us</h2>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Full name*" v-model="model.name" />
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Email address*" v-model="model.email" />
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Phone number*" v-model="model.phone" />
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Date*" v-model="model.date" id="date" style="background: transparent !important;" />
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Group Size*" v-model="model.group_size" />
		</div>
		<div class="form-group">
			<select class="form-control" v-model="model.reason">
				<option value="null">Reason for Enquiry</option>
				<option value="birthday">Birthday Party</option>
				<option value="stag">Stag Party</option>
				<option value="hen">Hen Party</option>
				<option value="corporate">Corporate</option>
				<option value="christmas">Christmas Party</option>
				<option value="weekend">Weekend Away</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" v-model="model.referral">
				<option value="null">Where did you hear about us?</option>
				<option value="instagram">Instagram Ad</option>
				<option value="facebook">Facebook Ad</option>
				<option value="word-of-mouth">Word of Mouth</option>
				<option value="google">Google</option>
				<option value="other">Other</option>
			</select>
		</div>
		<div class="form-group">
			<textarea class="form-control" placeholder="Message*" rows="4" v-model="model.message"></textarea>
		</div>

		<input type="submit" class="btn btn-primary" value="Send message" />
	</form>
</template>

<script>
	export default {
		data() {
			return {
				model: {
					name: null,
					email: null,
					phone: null,
					date: null,
					group_size: null,
					reason: null,
					referral: null,
					message: null,
				}
			}
		},

		methods: {
			sendEnquiry()
			{
				var error = false;

				_.each(this.model, function(value, key) {
					if(value == '' || value == null || value == 'undefined') error = true;
				});
				
				if(error) {
					return Swal.fire("Invalid Input", "Please make sure you fill out all the required fields and try again", 'error');
				}

				axios.post(`https://sendemailapi.letushost.co.uk/api/geordiecrawl/enquiry`, this.model)
					.then(response => {
						Swal.fire("Message Sent", "Your enquiry has been sent, we'll be in touch shortly!", 'success');
					}).catch(error => {
						Swal.fire("Unexpected Error", "An unexpected error occured sending your enquiry, please try again. If the error persists please contact us directly via our email", 'error');
					});
			}
		}
	}
</script>