<template>
	<aside class="mobile-menu">
		<header>
			<h1>
				Geordie<strong>Crawl</strong>
				<a href="#" class="pull-right" @click.prevent="$root.$emit('toggleSidebar')">
					<span class="icon fa fa-times"></span>
				</a>
			</h1>
		</header>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/gallery">Gallery</a></li>
			<li><a href="/faqs">FAQs</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>

		<div class="actions">
			<div class="row row-xs">
				<div class="col-xs-6">
					<a href="/contact" class="btn btn-primary">Contact</a>
				</div>
				<div class="col-xs-6">
					<a href="/book" class="btn btn-default">Book</a>
				</div>
			</div>
		</div>

		<ul class="socials">
			<li><a href="https://www.facebook.com/geordiecrawl01" target="_blank"><span class="fab fa-facebook-square"></span></a></li>
			<li><a href="https://www.instagram.com/geordiecrawl" target="_blank"><span class="fab fa-instagram-square"></span></a></li>
		</ul>
	</aside>
</template>

<script>
	export default {
		data() {
			return {
				open: false,
			}
		},

		mounted()
		{
			var _context = this;

			this.$root.$on('toggleSidebar', function() {
				if(_context.open) {
					_context.open = false;
					return $('.mobile-menu').animate({right: '-100%'}, 200);
				}

				_context.open = true;
				return $('.mobile-menu').animate({right: 0}, 200);
			});
		}
	}
</script>